<!--Footer-->
  <div id="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4">
         <div class="wrapper">
            <ul>
              <li class="envelope"><a href="mailto:georgecalvo@georgecalvo.com"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a></li>
              <li class="linkedin"><a href="https://www.linkedin.com/in/george-calvo/" target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a></li>
              <li class="google"><a href="https://plus.google.com/u/1/101005568832635967351" target="_blank"><i class="fa fa-google fa-2x" aria-hidden="true"></i></li>
              <li class="github"><a href="https://github.com/gcalvo1" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
          <p class="footer-block"><p>&copy; <%var d = new Date(); %><%= d.getFullYear() %> George Calvo</p>
        </div>
      </div>
    </div>
  </div>
    </body>
</html>