<!--Footer-->
  <div id="footer">
    <div class="container">
      <p class="footer-block"><p>&copy; <%var d = new Date(); %><%= d.getFullYear() %> George Calvo<p></p>
    </div>
  </div>
    </body>
</html>