<!DOCTYPE html>
<html>
    <head>
        <title>DataCaddy</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.4/datepicker.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
        <script src=https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.4/datepicker.js></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        <!--<script src="/scripts/src/bootstrap-typeahead.min.js" type="text/javascript" async></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.1/bootstrap3-typeahead.min.js"></script>
    </head>
    <script src="../scripts/header.js"></script>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">DataCaddy</a>
                </div>
                <ul class="nav navbar-nav menu_options">
                  <li id="home_menu_option"><a href="/">Home</a></li>  
                  <li id="rounds_menu_option"><a href="/rounds">Rounds</a></li>
                  <li id="new_menu_option"><a href=/rounds/new>New Round</a></li>
                  <li id="dashboard_menu_option"><a href="/dashboard">Dashboard</a></li>
                </ul>
                <div>
                    <ul class="nav navbar-nav navbar-right">
                        <% if(!currentUser){ %>
                            <form class="navbar-form" action="/" method="POST">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" name="username" class="form-control login-input">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" class="form-control login-input">
                                </div>
                                <button type="submit" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-log-in"></span> Login</button>
                                <button type="button" class="btn btn-default btn-xs" onclick="location.href='/register';"></span> Sign Up</button>
                            </form>
                        <% } else { %>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href=""><% if(!currentUser.hasImg || currentUser.hasImg) { %>
                        <span class="glyphicon glyphicon-user"></span>
                    <% } %> <!--else { %>-->
                    <!--    <span><img id='dash-prof-pic' src='<= currentUser.imgLink %>'></span>-->
                    <!--< } %> -->
                        </span>      <%= currentUser.name %> </span>
                                <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                  <li><a class="user_dropdown" href="#">Profile</a></li>
                                  <li><a class="user_dropdown" href="#">Sometihng Else</a></li>
                                  <li><a class="user_dropdown" href="/logout">Logout</a></li>
                                </ul>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container" class="flash-msg">
        
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <% if(success && success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
        </div>