<% include ../partials/header %>

    <div id= dashboard-container class="container-fluid">  
        <div id="dash-left-pane" class="col-md-2">
            <% if(!user.emailConfirmed) { %>
                    <div id="dash-email-status" class="row">
                        Email Address Not Verified
                    </div>
            <% } %>
            <div class="row">
                    <!--<span class="glyphicon glyphicon-user"></span>-->
                    <span id="dash-img-span"> 
                        <% if(user.hasImg) { %>
                                <img id='dash-prof-pic' src="<%= userImg %>" onerror='imgError(this);'>
                        <% } else { %>
                                <img id='dash-prof-pic' src="../img/blank_user.jpg" onerror='imgError(this);'>
                        <% } %>
                    </span>
            </div>
            <div id="dash-name" class="row">
                <strong><%= user.name %></strong>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="date-input-row" class="row">
                        <div id="date-filter" class="form-group fg_input_head">
                            <label for="date-filter">Choose Date Range:</label>
                            <div class="col-md-6">
                                <div class="from-to-date-div">
                                    <label for="date-filter">From:</label>
                                    <span><input id="date-from" class="date-filter form-control" data-toggle="datepicker"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="from-to-date-div">
                                    <label id="date-to-label" for="date-filter">To:</label>
                                    <span><input id="date-to" class="date-filter form-control" data-toggle="datepicker"></span>
                                </div>
                            </div>  
                        </div>
                    </div>
                    <div id="num-holes-dropdown-div" class="form-group fg_input_head">
                        <label for="num_holes_dropdown">Number of Holes:</label>
                        <select class="form-control" id="num-holes-dropdown">
                            <% roundTypes.forEach(function(type){
                                if(type.found){ %>
                                    <option value="<%= type.numHoles %>"><%= type.numHoles %></option>
                             <% }     
                            }); %>
                        </select>
                    </div>
                    <div id="tee-club-dropdown-div" class="form-group fg_input_head hidden">
                        <label for="tee_club_dropdown">Choose Club:</label>
                        <select class="form-control" id="tee-club-dropdown">
                        </select>
                    </div>
                    <div id="approach-club-dropdown-div" class="form-group fg_input_head hidden">
                        <label for="approach_club_dropdown">Choose Club:</label>
                        <select class="form-control" id="approach-club-dropdown">
                        </select>
                    </div>
                    <!--<nav id="dash-left-menu">-->
                    <!--  <UL>-->
                    <!--   <li class="var_nav">-->
                    <!--      <div class="link_bg"></div>-->
                    <!--      <div class="link_title">-->
                    <!--        <div class=icon> -->
                    <!--        <i class="fas fa-plus"></i>-->
                    <!--        </div>-->
                    <!--        <a href="/rounds/new"><span>New Round</span></a>-->
                    <!--      </div>-->
                    <!--   </li>-->
                    <!--   <li class="var_nav">-->
                    <!--      <div class="link_bg"></div>-->
                    <!--      <div class="link_title">-->
                    <!--        <div class=icon> -->
                    <!--        <i class="fas fa-eye"></i>-->
                    <!--        </div>-->
                    <!--        <a href="/rounds"><span>View Rounds</span></a>-->
                    <!--      </div>-->
                    <!--   </li>-->
                    <!--  </UL>-->
                    <!--</nav>-->
                </div>
            </div>
        </div>
        <div id="dashboard-viz" class="col-md-10">
            <div class="row">
                <div class="col-md-12">
                    <div id="dash-tab-menu">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                          <li id="summary-tab-li" class="nav-item active">
                            <a class="nav-link active non-driving-tab non-approach-tab" id="summary-tab" data-toggle="tab" href="#summary" role="tab" aria-controls="summary" aria-selected="true">Summary</a>
                          </li>
                          <li id="driving-tab-li" class="nav-item">
                            <a class="nav-link non-home-tab non-approach-tab" id="driving-tab" data-toggle="tab" href="#driving" role="tab" aria-controls="driving" aria-selected="false">Driving</a>
                          </li>
                          <li id="approach-tab-li" class="nav-item">
                            <a class="nav-link non-home-tab non-driving-tab" id="approach-tab" data-toggle="tab" href="#approach" role="tab" aria-controls="approach" aria-selected="false">Approach</a>
                          </li>
                          <li id="short-game-tab-li" class="nav-item">
                            <a class="nav-link non-home-tab non-driving-tab non-approach-tab" id="short-game-tab" data-toggle="tab" href="#short-game" role="tab" aria-controls="short-game" aria-selected="false">Short Game</a>
                          </li>
                          <li id="weather-tab-li" class="nav-item">
                            <a class="nav-link non-home-tab non-driving-tab non-approach-tab" id="weather-tab" data-toggle="tab" href="#weather" role="tab" aria-controls="weather" aria-selected="false">Weather</a>
                          </li>
                          <li id="map-tab-li" class="nav-item">
                            <a class="nav-link non-home-tab non-driving-tab non-approach-tab" id="map-tab" data-toggle="tab" href="#map" role="tab" aria-controls="map" aria-selected="false">Map</a>
                          </li>
                        </ul>
                    </div>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade in show active" id="summary" role="tabpanel" aria-labelledby="summary-tab">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="counter">
                                        <h2 id="handicap" class="timer count-title count-number" data-to="" data-speed="1500"></h2>
                                        <p id="handicap-label" class="count-text ">Handicap</p>
                                    </div>  
                                </div>
                                <div class="col-md-2">
                                    <div class="counter">
                                        <h2 id="scoring-avg" class="timer count-title count-number" data-to="" data-speed="1500"></h2>
                                        <p class="count-text ">Scoring Average</p>
                                    </div>  
                                </div>
                                <div class="col-md-2">
                                    <div class="counter">
                                        <h2 id ="avg-score-to-par" class="timer count-title count-number-sign" data-to="" data-speed="1500"></h2>
                                        <p class="count-text ">Average Score to Par</p>
                                    </div>
                                </div>
                                <div id="left-avg-col" class="col-md-2">
                                    <div class="counter">
                                        <h2 id="par-three-scoring-avg" class="timer count-title count-number" data-to="" data-speed="1500"></h2>
                                        <p class="count-text ">Par 3 Scoring Avg</p>
                                    </div>
                                </div>   
                                <div id="middle-avg-col" class="col-md-2">
                                    <div class="counter">
                                        <h2 id="par-four-scoring-avg" class="timer count-title count-number" data-to="" data-speed="1500"></h2>
                                        <p class="count-text ">Par 4 Scoring Avg</p>
                                    </div>
                                </div> 
                                <div id="right-avg-col" class="col-md-2">
                                    <div class="counter">
                                        <h2 id="par-five-scoring-avg" class="timer count-title count-number" data-to="" data-speed="1500"></h2>
                                        <p class="count-text ">Par 5 Scoring Avg</p>
                                    </div>
                                </div> 
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div id="rbd-line" class="dash-highchart"></div>
                                </div>
                                <div class="col-md-6">
                                    <div id="score-name-pie" class="dash-highchart">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="driving" role="tabpanel" aria-labelledby="driving-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row top-dashboard-stats">
                                        <div class="col-md-6">
                                            <div class="counter">
                                                <span id="fir-ratio" class="dashboard-ratio">
                                                </span>
                                                <div>
                                                    <h2 id="fir-percent" class="timer count-title count-number-percent with-ratio" data-to="" data-speed="1500"></h2>
                                                    <p class="count-text ">FIR %</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="counter">
                                                <h2 id="driving-distance" class="timer count-title count-number" data-to="" data-speed="1500"></h2>
                                                <p class="count-text ">Average Tee Shot Distance</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="fir-per-round-line"></div>
                                        </div>
                                    </div>
                                </div>    
                                <div class="col-md-6">
                                        <h4 id="drive-tracker-title">DriveTracker <span id="drive-tracker-date"></span></h4>
                                                <div id='canv-container'>
                                                    <canvas id="driveTracker" width="500" height="500"></canvas>
                                                </div>
                                                <div id='drive-tracker-legend'>
                                                    <h5>Legend</h5>
                                                    <div id='legend-values'>
                                                        <div>
                                                            <span id="par-circle"> </span><span class="legend-score-name"> par </span>
                                                        </div>
                                                    </div>
                                                    <button id="reset-drive-tracker" class="btn btn-info">Play Again</button>
                                                </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="counter">
                                        <span id="tee-miss-left-ratio" class="dashboard-ratio">
                                        </span>
                                        <div>
                                            <h2 id="tee-miss-left" class="timer count-title count-number with-ratio" data-to="" data-speed="1500"></h2>
                                            <p class="count-text ">Miss Left %</p>
                                        </div>
                                    </div>  
                                </div>
                                <div class="col-md-3">
                                    <div class="counter">
                                        <span id="tee-miss-right-ratio" class="dashboard-ratio">
                                        </span>
                                        <div>
                                            <h2 id="tee-miss-right" class="timer count-title count-number with-ratio" data-to="" data-speed="1500"></h2>
                                            <p class="count-text ">Miss Right %</p>
                                        </div>
                                    </div>  
                                </div>
                                <div class="col-md-3">
                                    <div class="counter">
                                        <span id="tee-miss-long-ratio" class="dashboard-ratio">
                                        </span>
                                        <div>
                                            <h2 id="tee-miss-long" class="timer count-title count-number with-ratio" data-to="" data-speed="1500"></h2>
                                            <p class="count-text ">Miss Short %</p>
                                        </div>
                                    </div>  
                                </div>
                                <div class="col-md-3">
                                    <div class="counter">
                                        <span id="tee-miss-short-ratio" class="dashboard-ratio">
                                        </span>
                                        <div>
                                            <h2 id="tee-miss-short" class="timer count-title count-number with-ratio" data-to="" data-speed="1500"></h2>
                                            <p class="count-text ">Miss Long %</p>
                                        </div>
                                    </div>  
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="approach" role="tabpanel" aria-labelledby="approach-tab">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row top-dashboard-stats">
                                        <div class="col-md-6">
                                            <div class="counter">
                                                <span id="gir-ratio" class="dashboard-ratio">
                                                </span>
                                                <div>
                                                    <h2 id="gir-percent" class="timer count-title count-number-percent with-ratio" data-to="" data-speed="1500"></h2>
                                                    <p class="count-text ">GIR %</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="counter">
                                                <h2 id="approach-distance" class="timer count-title count-number" data-to="" data-speed="1500"></h2>
                                                <p class="count-text ">Average Approach Distance</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="approach-spray-area"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row top-dashboard-stats">
                                        <div id="approach-miss-table-div" class="counter">
                                            <div id="miss-spread-title">
                                                Miss Trap Spread
                                            </div>
                                            <table id='approach-miss-table' class="table table-bordered">
                                              <tbody>
                                                <tr>
                                                    <td id="approach-fringe-td">
                                                        <div class="approach-miss-label">
                                                            <div class="approach-miss-num" id="approach-miss-fringe">
                                                            </div>
                                                            <div>
                                                                Fringe
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td id="approach-rough-td">
                                                        <div class="approach-miss-label">
                                                            <div class="approach-miss-num" id="approach-miss-rough">
                                                            </div>
                                                            <div>
                                                                Rough
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td id="approach-bunker-td">
                                                        <div class="approach-miss-label">
                                                            <div class="approach-miss-num" id="approach-miss-bunker">
                                                            </div>
                                                            <div>
                                                                Bunker
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td id="approach-fescue-td">
                                                        <div class="approach-miss-label">
                                                            <div class="approach-miss-num" id="approach-miss-fescue">
                                                            </div>
                                                            <div>
                                                                Fescue
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td id="approach-woods-td">
                                                        <div class="approach-miss-label">
                                                            <div class="approach-miss-num" id="approach-miss-woods">
                                                            </div>
                                                            <div>
                                                                Woods
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td id="approach-water-td">
                                                        <div class="approach-miss-label">
                                                            <div class="approach-miss-num" id="approach-miss-water">
                                                            </div>
                                                            <div>
                                                                Water
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                            <div id="miss-spread-footnote">
                                                *Not all misses included
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="counter">
                                        <span id="approach-miss-left-ratio" class="dashboard-ratio">
                                        </span>
                                        <div>
                                            <h2 id="approach-miss-left" class="timer count-title count-number with-ratio" data-to="" data-speed="1500"></h2>
                                            <p class="count-text ">Miss Left %</p>
                                        </div>
                                    </div>  
                                </div>
                                <div class="col-md-3">
                                    <div class="counter">
                                        <span id="approach-miss-right-ratio" class="dashboard-ratio">
                                        </span>
                                        <div>
                                            <h2 id="approach-miss-right" class="timer count-title count-number with-ratio" data-to="" data-speed="1500"></h2>
                                            <p class="count-text ">Miss Right %</p>
                                        </div>
                                    </div>  
                                </div>
                                <div class="col-md-3">
                                    <div class="counter">
                                        <span id="approach-miss-long-ratio" class="dashboard-ratio">
                                        </span>
                                        <div>
                                            <h2 id="approach-miss-long" class="timer count-title count-number with-ratio" data-to="" data-speed="1500"></h2>
                                            <p class="count-text ">Miss Short %</p>
                                        </div>
                                    </div>  
                                </div>
                                <div class="col-md-3">
                                    <div class="counter">
                                        <span id="approach-miss-short-ratio" class="dashboard-ratio">
                                        </span>
                                        <div>
                                            <h2 id="approach-miss-short" class="timer count-title count-number with-ratio" data-to="" data-speed="1500"></h2>
                                            <p class="count-text ">Miss Long %</p>
                                        </div>
                                    </div>  
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="short-game" role="tabpanel" aria-labelledby="short-game-tab">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="counter">
                                        <span id="scramble-ratio" class="dashboard-ratio">
                                        </span>
                                        <div>
                                            <h2 id="scramble-percent" class="timer count-title count-number-percent with-ratio" data-to="" data-speed="1500"></h2>
                                            <p class="count-text ">Scramble %</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="counter">
                                        <span id="sand-save-ratio" class="dashboard-ratio">
                                        </span>
                                        <div>
                                            <h2 id="sand-save-percent" class="timer count-title count-number-percent with-ratio" data-to="" data-speed="1500"></h2>
                                            <p class="count-text ">Sand Save %</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="counter">
                                        <h2 id="putts-per-round" class="timer count-title count-number" data-to="" data-speed="1500"></h2>
                                        <p class="count-text ">Putts Per Round</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="counter">
                                        <span id="three-putt-ratio" class="dashboard-ratio">
                                        </span>
                                        <h2 id="three-putts-per-round" class="timer count-title count-number with-ratio" data-to="" data-speed="1500"></h2>
                                        <p class="count-text ">Three Putts Per Round</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                        <div id="ar-score-pie"></div>
                                </div>
                                <div class="col-md-6">
                                    <div id="scrambling-by-trap"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="weather" role="tabpanel" aria-labelledby="weather-tab">
                            <div class="row">
                                <div id="weather-cards" class="col-md-12">
                                    <div class="card-wrapper">
                                        <section id="clear-day" class="card anim-flip hidden">
                                            <header>
                                                <h1 class="card-header">Sunny</h1>
                                            </header>
                                            <div class="sunny"></div>
                                            <p class="card-temp box-highlight"></p>
                                        </section>
                                        <section id="rain" class="card anim-flip hidden">
                                            <header>
                                                <h1 class="card-header">Rain</h1>
                                            </header>
                                            <div class="rainy"></div>
                                            <p class="card-temp box-highlight"></p>
                                            <!--<p class="card-info">Tempo estável com algumas núvens</p>-->
                                        </section>
                                        <section id="cloudy" class="card anim-flip hidden">
                                            <header>
                                                <h1 class="card-header">Cloudy</h1>
                                            </header>
                                            <div class="cloudy"></div>
                                            <p class="card-temp box-highlight"></p>
                                        </section>
                                        <section id="partly-cloudy-day" class="card anim-flip hidden">
                                            <header>
                                                <h1 class="card-header">Partly Cloudy</h1>
                                            </header>
                                            <div class="forecast__cloudy">
                                                <img id="partly-cloudy-img" src="./img/partly_cloudy.png">
                                            </div>
                                            <p class="card-temp box-highlight"></p>
                                        </section>
                                        <section id="wind" class="card anim-flip hidden">
                                            <header>
                                                <h1 class="card-header">Wind</h1>
                                            </header>
                                            <div class="forecast__cloudy">
                                                <img id="windy-img" src="./img/windy.png">
                                            </div>
                                            <p class="card-temp box-highlight"></p>
                                        </section>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div id="wind-div" class="weather-div">
                                    
                                </div>
                            </div>
                            <hr class="weather-hr">
                            <div class="row">
                                <div id="temp-div" class="weather-div">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="map" role="tabpanel" aria-labelledby="map-tab">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="map-api"></div>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="../scripts/dashboard/themes/dark-unica.js"></script>
<script src="https://code.createjs.com/easeljs-0.8.1.min.js"></script>  
<script src="https://code.createjs.com/tweenjs-0.6.1.min.js"></script>
<script src="../scripts/dashboard/summary/setSummary.js"></script>
<script src="../scripts/dashboard/summary/highChartsScoreByDate.js"></script>
<script src="../scripts/dashboard/summary/highChartsScoreByName.js"></script>
<script src="../scripts/dashboard/shortgame/setShortGame.js"></script>
<script src="../scripts/dashboard/shortgame/highChartsScoreByAR.js"></script>
<script src="../scripts/dashboard/shortgame/highChartsScramblingByTrap.js"></script>
<script src="../scripts/dashboard/driving/setDriving.js"></script>
<script src="../scripts/dashboard/driving/driveTracker.js"></script>
<script src="../scripts/dashboard/driving/highChartsFirByRound.js"></script>
<script src="../scripts/dashboard/approach/setApproach.js"></script>
<script src="../scripts/dashboard/approach/highChartsApproachSpread.js"></script>
<script src="../scripts/dashboard/updateDashboard.js"></script>
<script src="../scripts/dashboard/weather/setWeather.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5ZVEcAKEvfoR6FqNq-AyhnRkq1g90yoI" async defer></script>
<script src="../scripts/dashboard/map/setMap.js"></script>

<script>

    $('.menu_options li').removeClass('active');
    $('#dashboard_menu_option').addClass('active');
    var activeTab = 'summary';
    //numCounterUpdate();
    $(function() {
        var currentDate = new Date();
        
        $('#date-from').datepicker(
            {
                date: new Date(currentDate.getFullYear(), 1, 1),
                format: 'm/d/yyyy'
            });
        $('#date-from').val('1/1/' + currentDate.getFullYear());
        $('#date-to').datepicker(
            {
                date: new Date(),
                format: 'm/d/yyyy'
            });
        $('#date-to').val(currentDate.getMonth() + 1 + '/' + currentDate.getDate() + '/' + currentDate.getFullYear());
        updateDashboard();
        
        var fromDate = $('#date-from').datepicker('getDate');
    });
    
    //Toggle filters
    $('#driving-tab').on('click', function(){
        activeTab = 'driving';
        $('#tee-club-dropdown-div').removeClass("hidden");
        updateTeeClubFilter();
        updateDashboard('All');
    });
    $('.non-driving-tab').on('click', function(){
        $('#tee-club-dropdown-div').addClass("hidden");
    });
    $('#approach-tab').on('click', function(){
        activeTab = 'approach';
        $('#approach-club-dropdown-div').removeClass("hidden");
        updateApproachClubFilter();
        updateDashboard('All');
    });
    $('#short-game-tab').on('click', function(){
        activeTab = 'shortgame';
        updateDashboard();
    });
    $('#summary-tab').on('click', function(){
        activeTab = 'summary';
        updateDashboard();
    });
    $('#weather-tab').on('click', function(){
        activeTab = 'weather';
        updateDashboard();
    });
    $('#map-tab').on('click', function(){
        activeTab = 'map';
        //Update multiple times to hack render bug fix
        updateDashboard();
        updateDashboard();
        google.maps.event.trigger(map, "resize");
        // updateDashboard();
    });
    $('.non-approach-tab').on('click', function(){
        $('#approach-club-dropdown-div').addClass("hidden");
    });
    
    //Tab Menu Code
    $('.non-home-tab').click(function() {
        $("#summary").removeClass("show");
    });
    
    $('.date-filter').change(function(){
        updateDashboard();
    });

    $(function() {
        $('#tee-club-dropdown').change(function(){
           updateDashboard();
        });
        $('#approach-club-dropdown').change(function(){
            updateDashboard();
        });
        $('#num-holes-dropdown').change(function(){
             updateDashboard();
        });
    });
    
    $('#reset-drive-tracker').click(function() {
        var numHoles = $("#num-holes-dropdown :selected").text(),
            club = $("#tee-club-dropdown :selected").text(),
            isFull = true;
        if (numHoles === "9 Holes") {
            isFull = false;
        }
        var dateFrom = $('#date-from').datepicker('getDate'),
            dateTo = $('#date-to').datepicker('getDate');
            dateFrom.setHours(0,0,0,0);
            dateTo.setHours(23,59,59,0);
            dateFrom = dateFrom.toISOString();
            dateTo = dateTo.toISOString();
        var parameters = {isFull: isFull, dateFrom: dateFrom, dateTo: dateTo};
        
        driveTracker(parameters, club);
    });

    String.prototype.initCap = function () {
        return this.toLowerCase().replace(/(?:^|\s)[a-z]/g, function (m) {
            return m.toUpperCase();
        });
    };
    
    //Handicap Calculator
    $.get( '/dashboard/handicapdata', function(data) {
        if(!data.handicapIndex){
            $('#handicap').html("N/A");
            $('#handicap-label').html("5+ Rounds for Handicap");
        } else {
            $('#handicap').html(data.handicapIndex);
            $('#handicap').attr("data-to",data.handicapIndex);
        }
    });
    
</script>
<% include ../partials/footer %>