<% include partials/header %>
<div class="container">
  <div id="landing-header">
    <h1>Welcome to DataCaddy!</h1>
    <a href="/register" class="btn btn-lg btn-success">Sign Up</a>
  </div>
  
  <ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>

<script src="../scripts/landing.js"></script>  
<% include partials/footer %>