<% include ./partials/header %>
        
  <div id="home-title">
          
    <div id="landing-header">
      <h1>DATA CADDY</h1>
      <a href="/register" class="btn btn-lg btn-success">Sign Up</a>
    </div>
  </div>
     
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="./img/green_dusk.jpg" alt="Green Dusk">
      </div>
      <div class="item">
        <img src="./img/fairway_ocean.jpg" alt="Fairway Ocean">
      </div>
      <div class="item">
        <img src="./img/green_shadow.jpg" alt="Green Shadow">
      </div>
      <div class="item">
        <img src="./img/fairway_cart.jpg" alt="Green Shadow">
      </div>
      <div class="item">
        <img src="./img/full_view.jpg" alt="Full View">
      </div>
    </div>
  </div>
  
  <script src="../scripts/landing.js"></script>  
  <script src="../scripts/header.js"></script>
  <script>
    $(document).ready(function () {
        $('.carousel').carousel({
            interval: 5000
        });
    
        $('.carousel').carousel('cycle');
    });
  </script>
  
<% include partials/footer %>