<% include ./partials/header %>

<div class="container">
    <div id="register_div">
        <div>
            <h2>Register for DataCaddy  <span> <i class="fas fa-golf-ball"></i></span></h2>
            <hr>
            <form action="/register" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="username">USERNAME</label>
                    <input type="text" name="username" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="email">E-MAIL ADDRESS</label>
                    <input type="email" name="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="fullname">FULL NAME</label>
                    <input type="text" name="name" class="form-control" placeholder="First Last" required>
                </div>
                <div class="input-group form-group image-preview">
                    <label for="fullname">PROFILE PICTURE</label>
                    <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                    <span class="input-group-btn">
                        <!-- image-preview-clear button -->
                        <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                            <span class="glyphicon glyphicon-remove"></span> Clear
                        </button>
                        <!-- image-preview-input -->
                        <div class="btn btn-default image-preview-input">
                            <span class="glyphicon glyphicon-folder-open"></span>
                            <span class="image-preview-input-title">Browse</span>
                            <input type="file" accept="image/png, image/jpeg, image/gif" name="imgFile"/> <!-- rename it -->
                        </div>
                    </span>
                </div>
                <div class="form-group">
                    <label for="pwd">PASSWORD</label>
                    <input id="password" type="password" name="password" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="confirmpwd">CONFIRM PASSWORD</label>
                    <input id="confirm-password" type="password" name="confirm" class="form-control" required>
                    <div id='message'></div>
                </div>
                <div class="form-group">
                    <button id="register-submit" type="submit" class="btn btn-default"><strong>Submit</strong></button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).on('click', '#close-preview', function(){ 
    $('.image-preview').popover('hide');
    // Hover befor close the preview
    $('.image-preview').hover(
        function () {
           $('.image-preview').popover('show');
        }, 
         function () {
           $('.image-preview').popover('hide');
        }
    );    
});

$(function() {
    $(document).ready(function() {
        document.title = 'Register';
    });
    
    // Create the close button
    var closebtn = $('<button/>', {
        type:"button",
        text: 'x',
        id: 'close-preview',
        style: 'font-size: initial;',
    });
    closebtn.attr("class","close pull-right");
    // Set the popover default content
    $('.image-preview').popover({
        trigger:'manual',
        html:true,
        title: "<strong>Preview</strong>"+$(closebtn)[0].outerHTML,
        content: "There's no image",
        placement:'right'
    });
    // Clear event
    $('.image-preview-clear').click(function(){
        $('.image-preview').attr("data-content","").popover('hide');
        $('.image-preview-filename').val("");
        $('.image-preview-clear').hide();
        $('.image-preview-input input:file').val("");
        $(".image-preview-input-title").text("Browse"); 
    }); 
    // Create the preview image
    $(".image-preview-input input:file").change(function (){     
        var img = $('<img/>', {
            id: 'dynamic',
            width:250,
            height:200
        });      
        var file = this.files[0];
        var reader = new FileReader();
        // Set preview image into the popover data-content
        reader.onload = function (e) {
            $(".image-preview-input-title").text("Change");
            $(".image-preview-clear").show();
            $(".image-preview-filename").val(file.name);            
            img.attr('src', e.target.result);
            $(".image-preview").attr("data-content",$(img)[0].outerHTML).popover("show");
        }        
        reader.readAsDataURL(file);
    });  
});

$('#password, #confirm-password').on('keyup', function () {
  if ($('#password').val() == $('#confirm-password').val()) {
    $('#message').html('Matching Password').css('color', '#19d800');
    $('#register-submit').removeAttr("disabled");
  } else { 
    $('#message').html('Not Matching Password').css('color', 'red');
    $('#register-submit').attr("disabled", true);
  }
});

</script>

<% include ./partials/footer %>