.navbar-inverse {
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-inverse .navbar-brand {
    color: white;
}

ul.nav.navbar-nav.navbar-right a {
    color: white;
}

ul.nav.navbar-nav.navbar-right .user_dropdown {
    color: gray;
}

.dropdown-toggle .glyphicon-user {
    margin-right: 5px;
}

.form-group .login-input {
    width: 150px;
    height: 25px;
    margin-right: 5px;
}

.navbar-right .navbar-form {
    margin-top: 1px;
    margin-right: 15px;
}

.navbar-right label {
    font-size: 12px;
    color: white;
    margin-bottom: 1px;
}

.navbar-right button {
    margin-top: 16px;
    margin-right: 5px;
}

.nav-sign-up {
    margin-top: 15px;
    margin-right: 5px;
}

body {
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.alert {
    text-align: center;
    width: 50%;
    margin: auto;
}

#register_div {
    width: 50%;
    height: 500px;
    margin: auto;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px #888888;
    background-color: #3E4A56;
}

#register_div h2 {
    padding-top: 10px;
    text-align: center;
    color: #DBFEED;
}

#register_div .form-group:nth-of-type(1) {
    margin-top: 30px;
}

#register_div .form-group {
    width: 50%;
    margin: auto;
    margin-bottom: 15px;
}

#register_div .form-group label {
    color: #DBFEED;
}

#register_div .form-group button {
    background-color: #DBFEED;
    color: #3E4A56;
}

.fg_input_head {
    margin-left: 10px;
    margin-right: 10px;
}

.input_container {
    margin-bottom: 25px;
}

#input_img_div {
    margin-left: 200px;
    margin-right: 50px;
}

#delte_div {
    height: 59px;
}

.delete-form{
    padding-top: 23px;
}

.header_hr {
	border-top: 3px double rgba(201, 208, 216, 0.8);
	margin-bottom: 20px;
}

hr {
	 border-color: #DDCECE;
	 background-color: #DDCECE;
	 color: #DDCECE;
	 margin-top: 5px;
	 margin-bottom: 5px;
}

.hole_desc {
    width: 50px;
    margin-right: 10px;
    padding-left: 1px;
    padding-right: 1px;
    text-align: center;
}

.hole_desc p {
    margin-bottom: 4px;
    width: 60px;
    padding-right: 10px;
}

.fg_input {
    width:110px;
}

.fg_input .f_input {
    width:110px;
}

.Label_input {
    width:110px;
}

.xs_input {
    width: 60px;
}

.xs_input .Label_input {
    width: 60px;
}

.xs_input .xs_input {
    width:60px;
}

.input_card {
    margin-left: 20px;
}

.hole_submit {
    height: 60px;
    padding-top: 32px;
}

input, label {
    display:block;
}

.new_round_img {
    width: 5%;
}

.thumb_img {
    width: 75px;
    height: 75px;
}

#complete_btn_div {
    text-align: center;
}

.btn-complete {
    width: 300px;
    margin-bottom: 20px;
}

#scorecard_title {
    margin-bottom: 20px;
}

#scorecard_title img {
    width: 75px;
    height: 75px;
}

#par_row {
    border-bottom: 2px solid gray;
}

#score_row td {
    padding-top: 20px;
    padding-bottom: 20px;
}

.scorecard th {
    text-align: center;
}

.scorecard td {
    text-align: center;
}

.table>tbody>tr>td {
    vertical-align: middle;
}

#player_name {
    vertical-align: middle;
}

.bogey {
    border: 1px solid black; 
    width: 30px;
    margin: auto;
}

.double_bogey {
    border: 4px double black;   
    width: 30px;
    margin: auto;
}

.bogey_plus {
    border: 1px solid black;  
    background-color: black;
    color: white;
    width: 30px;
    margin: auto;
}

.birdie {
    border: 1px solid black;  
    border-radius: 50%; /* the magic */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 30px;
    margin: auto;
}

.eagle {
    border: 4px double black;   
    border-radius: 50%; /* the magic */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 30px;
    margin: auto;
}

.birdie_minus {
    border: 1px solid black;  
    border-radius: 50%; /* the magic */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: black;
    color: white;
    width: 30px;
    margin: auto;
}

#rounds_hr {
    margin-bottom: 20px;
}

.counter { 
    background-color: #ffffff; 
    padding: 10px 0; 
    border-radius: 5px;
}

.dash-highchart {
    background-color: #ffffff; 
    padding: 20px 0; 
    border-radius: 5px;
    height: 350px;
}

.count-title { 
    font-size: 40px; 
    font-weight: normal;  
    margin-top: 10px; 
    margin-bottom: 0; 
    text-align: center; 
}

.count-text { 
    font-size: 13px; 
    font-weight: normal;  
    margin-top: 10px; 
    margin-bottom: 0; 
    text-align: center;
}

.fa-2x { 
    margin: 0 auto; 
    float: none; 
    display: table; 
    color: #4ad1e5; 
}

#dash-name {
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-size: 24px;
    text-align: center;
    border-bottom: 1px solid rgb(221,221,221);
}

.nav-tabs {
    margin-bottom: 10px;
}

#dash-img-span {
    font-size: 25px;
}

.hidden {
   display: none
}

.dashboard-ratio {
    float: right;
    padding-right: 10px;
}

#driveTracker {
    background: url(/img/golf_arial_fairway_small.jpg); 
    background-size: cover;
    border-radius: 10px;
}

#driving h4 {
    margin-top: 0px;
    text-align: center;
}

#driving canvas {
    float: right;
    
}

#canv-counter {
    padding-top: 10px;
    height: 560px;
}

#canv-container {
    padding-right: 10px;
}

#drive-tracker-legend {
    width: 80px;
    float: left;
    padding-left: 5px;
    padding-top: 20px;
}

#drive-tracker-legend h5 {
    font-weight: bold;
    text-decoration: underline;
    padding-left: 5px;
}

#legend-values {
    padding-left: 5px;
}

#legend-circle {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    background-color: blue;
    margin-right: 3px
}

#approach-miss-table-div{
    padding-bottom: 0px
}

#miss-spread-title{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 10px;
}

#approach-miss-table{
    margin-bottom: 10px;
    border-radius: 5px;
}

.approach-miss-label{
    border-radius: 2px;
    background-color: rgba(0,0,0,.4);
    color: white;
    width: 50%;
    height: 50%;
    margin: auto;
    padding-top: 5px;
    text-align: center;
}

.approach-miss-num{
    font-weight: bold;
    font-size: 26px;
}

#approach-water-td{
    background-image: url(../img/water.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    width: 180px; height: 150px;
    border-radius: 5px;
}

#approach-rough-td{
    background-image: url(../img/golf-ball-deep-rough-cropped.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    width: 180px; height: 150px;
    border-radius: 5px;
}

#approach-fescue-td{
    background-image: url(../img/fescue-cropped.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    width: 180px; height: 150px;
    border-radius: 5px;
}

#approach-fringe-td{
    background-image: url(../img/fringe.jpg);
    background-repeat: no-repeat;   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 180px; height: 150px;
    border-radius: 5px;
}

#approach-bunker-td{
    background-image: url(../img/bunker.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 180px; height: 150px;
    border-radius: 5px;
}

#approach-woods-td{
    background-image: url(../img/tree-bark.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 180px; height: 150px;
    border-radius: 5px;
}

.with-ratio{
    padding-left: 25%;
    padding-right: 25%;
}

/*Dash Left Menu*/

#dash-left-menu ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;  
}

.var_nav {
    position: relative;
    background: rgba(160, 159, 156, .7); 
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
}

.link_bg {
     width: 70px;
     height: 45px;
     position: absolute;
     background: #07BE33;
     color: #fff;
     z-index: 2;
}

.link_bg i {
    position: relative;
}

.link_title {
    position: absolute;
    width: 100%;
    height: 45px;
    z-index: 3;
    color: #fff;
}

.link_title:hover .icon {
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    transform:rotate(360deg);  
}

.var_nav:hover .link_bg
{
    width: 100%;
    background: #07BE33;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;  
}

.var_nav:hover a {
    font-weight: bold;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out; 
    -o-transition: all .5s ease-in-out; 
    -ms-transition: all .5s ease-in-out;
     transition: all .5s ease-in-out;  
}

#dash-left-menu .icon { 
    position: relative;
    width: 70px;
    height: 45px;
    text-align: center;
    color: #fff;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out; 
    -o-transition: all .5s ease-in-out; 
    -ms-transition: all .5s ease-in-out;   
    float:left;
    transition: all .5s ease-in-out;
}

#dash-left-menu .fa-plus {
    margin-top: 15px;
    position: relative;
}

#dash-left-menu .fa-eye {
    margin-top: 16px;
    position: relative;
}

#dash-left-menu ul a {
    display: block;
    position: absolute;
    float: left;
    font-family: arial;
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-align: center;
}

#dash-left-menu ul a span {
    height: 100%;
    padding-left: 50px;
    padding-top: 13px;
    display: block;
}

#dash-prof-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 15px;
}

#dash-left-pane {
    text-align: center;
    border-right: 1px solid rgb(221,221,221);
}

#dashboard-viz .row {
    margin-bottom: 10px;
}

/*Register img input*/
.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}

.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.image-preview-input-title {
    margin-left:2px;
}

.input-group-btn {
    vertical-align: bottom;
}